body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  position: absolute;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

#main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

.p_leaves {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leaves {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.txt1 {
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35.00977%;
  height: 8.58333%;
  background-image: url(text1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .txt1 {
    width: 70%;
    height: 20%;
    background-image: url(text1_portrait.png);
  }
}

.txt2 {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.70312%;
  height: 8.5%;
  background-image: url(text2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .txt2 {
    width: 60%;
    height: 8%;
  }
}

.txt3 {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36.91406%;
  height: 8.33333%;
  background-image: url(text3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

@media all and (orientation: portrait) {
  .txt3 {
    width: 60%;
    height: 8%;
    background-image: url(text3_portrait.png);
  }
}

.forest {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.forest .background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.forest .background .flower {
  bottom: 5%;
  left: 0.58594%;
  width: 8.30078%;
  height: 13.33333%;
  background-image: url(flower.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.forest .background .pineTree {
  bottom: 5%;
  right: 6.34766%;
  width: 21.19141%;
  height: 60%;
  background-image: url(pineTree.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .forest .background .pineTree {
    right: -30%;
    bottom: 2%;
    width: 60%;
    height: 60%;
  }
}

.forest .background .leftTree {
  bottom: 5%;
  left: -3.41797%;
  width: 24.95117%;
  height: 72.83333%;
  background-image: url(leftTree.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.forest .background .bush {
  bottom: 5%;
  left: 20.50781%;
  width: 20.99609%;
  height: 17.33333%;
  background-image: url(bush.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .forest .background .bush {
    left: 0;
    bottom: 2%;
    width: 60%;
    height: 60%;
  }
}

.forest .midground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.forest .midground .rightTree {
  bottom: 3%;
  right: -7.91016%;
  width: 29.58984%;
  height: 94.66667%;
  background-image: url(rightTree.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .forest .midground .rightTree {
    right: -50%;
    bottom: 2%;
    width: 60%;
    height: 60%;
  }
}

.forest .midground .owlTree {
  bottom: 2%;
  left: 4.98047%;
  width: 37.89062%;
  height: 108.5%;
  background-image: url(owlTree.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .forest .midground .owlTree {
    left: -40%;
    width: 100%;
    height: 120%;
  }
}

.forest .midground .grass {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 200%;
  height: 10%;
  background-image: url(grass.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest .foreground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.forest .foreground .shroomRight {
  bottom: 4%;
  right: 9.08203%;
  width: 3.51562%;
  height: 7.25%;
  background-image: url(shroomRight.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.forest .foreground .shroomLeft {
  bottom: 2%;
  left: 16.30859%;
  width: 3.75977%;
  height: 7.91667%;
  background-image: url(shroomLeft.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.forest .foreground .fox {
  bottom: 1%;
  right: 18.06641%;
  width: 27.05078%;
  height: 35.75%;
  background-image: url(fox.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (orientation: portrait) {
  .forest .foreground .fox {
    left: 50%;
    width: 60%;
    height: 50%;
  }
}

.owlCta {
  top: 26.33333%;
  left: 37.30469%;
  width: 16.65039%;
  height: 12.25%;
  background-image: url(owl_cta_01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.owlCta.active {
  background-image: url(owl_cta_02.png);
}

.owlCta .arrow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(owl_cta_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.owlCta .arrow.active {
  opacity: 1;
}

@media all and (orientation: portrait) {
  .owlCta {
    left: 45.83333%;
    width: 45%;
  }
}

.foxCta {
  bottom: 21.33333%;
  left: 36.52344%;
  width: 18.11523%;
  height: 12.25%;
  background-image: url(fox_cta_01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.foxCta.active {
  background-image: url(fox_cta_02.png);
}

.foxCta .arrow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(fox_cta_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.foxCta .arrow.active {
  opacity: 1;
}

@media all and (orientation: portrait) {
  .foxCta {
    left: 5.83333%;
    width: 45%;
  }
}
