// Some Color Variables
$color-bg: #000000;
$color-main: #FFF;
$color-light: #333;
$color-dark: #000;
$color-accent: #CECECE;
$color-test: aqua;

$width: 2048px;
$height: 1200px;

// Media Query Responsize Desktop
$large:  "(min-width: 1024px)";
$medium: "(min-width: 768px) and (max-width: 1023px)";
$small:  "(max-width: 767px)";

// Media Query Devices
$desktop: "(min-device-width: 1024px)";
$tablet:  "(min-device-width: 768px) and (max-device-width: 1023px)";
$mobile:  "(max-device-width: 767px)";

@mixin full-center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin horiz-center {
	left: 50%;
	transform: translate(-50%);
}

@mixin fullscreen {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin background-image($name, $size, $position, $repeat: no-repeat){
	background-image: url(unquote($name));
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

@mixin hitarea {
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%!important;
}

@mixin responsive-size($width, $height, $w-context: 2048, $h-context: 1200) {
	width: $width / $w-context * 100vw;
	height: $height / $h-context * 100vh;
}

@mixin responsive-pos($top, $left, $t-context: 1200, $l-context: 2048) {
	top: $top / $t-context * 100vh;
	left: $left / $l-context * 100vw;
}

@mixin responsive($width, $height, $top, $left, $w-context: 2048, $h-context: 1200) {
	width: $width / $w-context * 100vw;
	height: $height / $h-context * 100vh;
	top: $top / $h-context * 100vh;
	left: $left / $w-context * 100vw;
}

@mixin portrait {
	@media all and (orientation : portrait) {
		@content;
	}
}

@mixin landscape {
	@media all and (orientation : landscape) {
		@content;
	}
}

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	position: absolute;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

///////

// Some example usage
#main {
	@include fullscreen;
	background-color: $color-bg;
	overflow: hidden;
}

.p_leaves {
	@include fullscreen;
	//left: 70%;
	//transform: translate(-50%);
}

.leaves {
	@include fullscreen;
}

.leaves svg{

	@include portrait {

	}

}

.txt1 {
	top: 63%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 717 / 2048 * 100%;
	height: 103 / 1200 * 100%;
	background-image: url(text1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	@include portrait {
		width: 70%;
		height: 20%;
		background-image: url(text1_portrait.png);
	}
}

.txt2 {
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 424 / 2048 * 100%;
	height: 102 / 1200 * 100%;
	background-image: url(text2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	@include portrait {
		width: 60%;
		height: 8%;
	}
}

.txt3 {
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 756 / 2048 * 100%;
	height: 100 / 1200 * 100%;
	background-image: url(text3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;

	@include portrait {
		width: 60%;
		height: 8%;
			background-image: url(text3_portrait.png);

	}
}

.forest {
	@include fullscreen;
	//background-color: aqua;

	.background {
		@include fullscreen;

		.flower {
			bottom: 5%;
			left: 12 / 2048 * 100%;
			width: 170 / 2048 * 100%;
			height: 160 / 1200 * 100%;
			background-image: url(flower.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.pineTree {
			bottom: 5%;
			right: 130 / 2048 * 100%;
			width: 434 / 2048 * 100%;
			height: 720 / 1200 * 100%;
			background-image: url(pineTree.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

			@include portrait {
				right: -30%;
				bottom: 2%;
				width: 60%;
				height: 60%;
			}
		}



		.leftTree {
			bottom: 5%;
			left: -70 / 2048 * 100%;
			width: 511 / 2048 * 100%;
			height: 874 / 1200 * 100%;
			background-image: url(leftTree.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

		}

		.bush {
			bottom: 5%;
			left: 420 / 2048 * 100%;
			width: 430 / 2048 * 100%;
			height: 208 / 1200 * 100%;
			background-image: url(bush.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

			@include portrait {
				left: 0;
				bottom: 2%;
				width: 60%;
				height: 60%;
			}
		}
	}


	.midground {
		@include fullscreen;

		.rightTree {
			bottom: 3%;
			right: -162 / 2048 * 100%;
			width: 606 / 2048 * 100%;
			height: 1136 / 1200 * 100%;
			background-image: url(rightTree.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

			@include portrait {
				right: -50%;
				bottom: 2%;
				width: 60%;
				height: 60%;
			}
		}

		.owlTree {
			bottom: 2%;
			left: 102 / 2048 * 100%;
			width: 776 / 2048 * 100%;
			height: 1302 / 1200 * 100%;
			background-image: url(owlTree.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

			@include portrait {
				left: -40%;
				width: 100%;
				height: 120%;
			}
		}

		.grass {
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
			width: 200%;
			height: 120 / 1200 * 100%;
			background-image: url(grass.png);
			background-position: center bottom;
			background-repeat: repeat-x;
			background-size: contain;
		}
	}

	.foreground {
		@include fullscreen;

		.shroomRight {
			bottom: 4%;
			right: 186 / 2048 * 100%;
			width: 72 / 2048 * 100%;
			height: 87 / 1200 * 100%;
			background-image: url(shroomRight.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.shroomLeft {
			bottom: 2%;
			left: 334 / 2048 * 100%;
			width: 77 / 2048 * 100%;
			height: 95 / 1200 * 100%;
			background-image: url(shroomLeft.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.fox {
			bottom: 1%;
			right: 370 / 2048 * 100%;
			width: 554 / 2048 * 100%;
			height: 429 / 1200 * 100%;
			background-image: url(fox.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;

			@include portrait {
				left: 50%;
				width: 60%;
				height: 50%;
			}
		}
	}
}

.owlCta {
	top: 316 / 1200 * 100%;
	left: 764 / 2048 * 100%;
	width: 341 / 2048 * 100%;
	height: 147 / 1200 * 100%;
	background-image: url(owl_cta_01.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	&.active {
		background-image: url(owl_cta_02.png);
	}
	.arrow {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(owl_cta_arrow.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	@include portrait {
		left: 550 / 1200 * 100%;
		width: 45%;
	}
}


.foxCta {
	bottom: 256 / 1200 * 100%;
	left: 748 / 2048 * 100%;
	width: 371 / 2048 * 100%;
	height: 147 / 1200 * 100%;
	background-image: url(fox_cta_01.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	&.active {
		background-image: url(fox_cta_02.png);
	}
	.arrow {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(fox_cta_arrow.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	@include portrait {
		left: 70 / 1200 * 100%;
		width: 45%;
	}
}


.logo {
	top: 2%;
	right: 7%;
	width: 334 / 2048 * 100%;
	height: 38 / 1200 * 100%;
	background-image: url(logo.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;

	@include portrait {
		width: 400 / 1200 * 100%;
		height: 58 / 2048 * 100%;
	}
}








































//